body {
    font-family: "malgun gothic" ,serif;
}

#left_div{
    width : 0px;
    height : 0px;
    position : absolute;
    top : 200px;
    left : 0px;
}

#mid_div{
    width : 1280px;
    height : 960px;
    position : absolute;
    top : 0px;
    left : 0px;
    border : 1px solid black;
}
        /*왼쪽*/
        #midLeft_div{
            width : 640px;
            height : 480px;
            position : absolute;
            top : 0px;
            left : 0px;
            background-color : #FFB6C1;
        }
        #midLeft_canvas{
            width : 1280px;
            height : 960px;
            position : absolute;
            top : 0px;
            left : 0px;
            visibility : hidden; 
        }
        #midLeft_image{
            width : 640px;
            height : 480px;
            position : absolute;
            top : 0px;
            left : 0px;  
        }
        #midLeft_canvas_temp{
             width : 1280px;
            height : 960px;
            position : absolute;
            top : 0px;
            left : 0px;
            visibility : hidden; 
        }
        #midLeft_canvas_preview{
            width : 640px;
            height : 480px;
            position : absolute;
            top : 0px;
            left : 0px;
        }

        /*오른쪽*/
        #midRight_div{
            width : 640px;
            height : 480px;
            position : absolute;
            top : 0px;
            left : 640px;
            background-color : #8A2BE2;
        }
        #midRight_canvas{
            width : 1280px;
            height : 960px;
            position : absolute;
            top : 0px;
            left : 0px;
            visibility : hidden; 
        }
        #midRight_image{
            width : 640px;
            height : 480px;
            position : absolute;
            top : 0px;
            left : 0px;  
        }
        #midRight_canvas_temp{
            width : 1280px;
            height : 960px;
            position : absolute;
            top : 0px;
            left : 0px;
            visibility : hidden; 
        }
        #midRight_canvas_preview{
            width : 640px;
            height : 480px;
            position : absolute;
            top : 0px;
            left : 0px;
        }
#right_div{
    width : 400px;
    height : 960px;
    position : absolute;
    left : 1300px;
    top : 0px;
}
    #rightTop_div{
        width : 400px;
        height : 250px;
        position : absolute;
        top : 0px;
        left : 0px;
    }
            #mode_change_btn_div{
                position : absolute;
                left : 2px;
                top : 155px;
                text-align : center;
            }
            #camera_setting_div{
                position : absolute;
                left : 2px;
                top : 200px;
                text-align : center;   
            }
            #area_commit_btn{
                text-align : center;
            }
    #rightBottom_div{
        width : 400px;
        height : 700px;
        position : absolute;
        top : 250px;
        left : 0px;
    }