{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
		<link rel="stylesheet" href="{% static 'stereovision/main.css' %}?after">
		
		<title>main page</title>
		<script>
			var camera_selection = "none";
			var mode = "camera_selection";
			var selected_canvas = "none";
			var cameraX_from=0, cameraX_to=0, cameraX_from_temp=0, cameraX_to_temp=0;
			var cameraY_from=0, cameraY_to=0, cameraY_from_temp=0, cameraY_to_temp=0;
			var dragX=0, dragY=0;
			var area_selection_mode="off";
			var ready_to_area_commit="off";
			var timer=0;
			var color_table=["#FE9A2E","#FFFF00","#BFFF00","#01DF01","#00FFFF","#0101DF","#7401DF","#FE2EF7","#848484","#000000"];
			var color_index=0;

			var coordinates_table = new Array();
			var coordinates_table_mirror = new Array();

			//Target Table Interval 변수
			var table_refresh_flag = false;
			var table_refresh = null;
			var table_refresh_time = 1000;
			

			$(function(){
				var resolution_w = $("#resolution_width").val()
				var resolution_h = $("#resolution_height").val()
				//카메라 선택 모드 시작
				$("#midLeft_div").on("click",function(){
					//가운데 왼쪽 클릭
					if(camera_selection=="left"&&mode=="camera_selection"){
						camera_selection="none";
						selected_canvas="none";
						ready_to_area_commit="off";
						$("#midLeft_div").css("width","800px").css("height","600px").css("position","absolute").css("left","0px").css("visibility","visible");
						$("#midRight_div").css("width","800px").css("height","600px").css("position","absolute").css("left","800px").css("visibility","visible");
						$("#midLeft_image").css("width","800px").css("height","600px").css("position","absolute").css("left","0px");
						$("#midLeft_canvas").css("visibility","hidden");
						$("#midLeft_canvas_temp").css("visibility","hidden");
						$("#midRight_canvas_preview").css("visibility","visible");
						$("#midLeft_canvas_preview").css("visibility","visible");
						console.log(camera_selection);
					}else if(camera_selection=="none"&&mode=="camera_selection"){
						camera_selection="left";
						selected_canvas="midLeft_canvas";
						$("#midLeft_div").css("width","1600px").css("height","1200px").css("position","absolute").css("left","0px");
						$("#midLeft_image").css("width","1600px").css("height","1200px").css("position","absolute");
						$("#midRight_div").css("visibility","hidden");
						$("#midLeft_canvas").css("visibility","visible");
						$("#midLeft_canvas_temp").css("visibility","visible");
						$("#midRight_canvas").css("visibility","hidden");
						$("#midRight_canvas_preview").css("visibility","hidden");
						$("#midLeft_canvas_preview").css("visibility","hidden");
						console.log(camera_selection);
					}
				});
				$("#midRight_div").on("click",function(){//가운데 오른쪽 클릭
					if(camera_selection=="right"&&mode=="camera_selection"){
						camera_selection="none";
						selected_canvas="none";
						ready_to_area_commit="off";
						$("#midLeft_div").css("width","800px").css("height","600px").css("position","absolute").css("left","0px").css("visibility","visible");
						$("#midRight_div").css("width","800px").css("height","600px").css("position","absolute").css("left","800px").css("visibility","visible");
						$("#midRight_image").css("width","800px").css("height","600px").css("position","absolute").css("left","0px");
						$("#midRight_canvas").css("visibility","hidden");
						$("#midLeft_canvas").css("visibility","hidden");
						$("#midRight_canvas_temp").css("visibility","hidden");
						$("#midRight_canvas_preview").css("visibility","visible");
						$("#midLeft_canvas_preview").css("visibility","visible");
						console.log(camera_selection);
					}else if(camera_selection=="none"&&mode=="camera_selection"){
						camera_selection="right";
						selected_canvas="midRight_canvas"
						$("#midRight_div").css("width","1600px").css("height","1200px").css("position","absolute").css("left","0px");
						$("#midRight_image").css("width","1600px").css("height","1200px").css("position","absolute");
						$("#midLeft_div").css("visibility","hidden");
						$("#midRight_canvas").css("visibility","visible");
						$("#midRight_canvas_temp").css("visibility","visible");
						$("#midLeft_canvas").css("visibility","visible");
						$("#midRight_canvas_preview").css("visibility","hidden");
						$("#midLeft_canvas_preview").css("visibility","hidden");
						console.log(camera_selection);
					}
				});//카메라 선택 모드 끝

				$("#midLeft_div").mousedown(function(event){//왼쪽카메라 범위지정 시작
					if(camera_selection=="left"&&mode=="area_selection"){
						cameraX_from_temp=event.pageX;
						cameraY_from_temp=event.pageY;
						area_selection_mode="on";
						canvas_clear("midLeft_canvas_temp");
						
						console.log("left_camera \nfrom 	"+cameraX_from_temp+", "+cameraY_from_temp);
					}
				});
				$("#midLeft_div").mousemove(function(event){
					if(camera_selection=="left"&&mode=="area_selection"&&area_selection_mode=="on"){
						dragX=event.pageX;
						dragY=event.pageY;
						Drag("midLeft_canvas_temp",cameraX_from_temp,cameraY_from_temp);
					}
				});
				$("#midLeft_div").mouseup(function(event){
					if(camera_selection=="left"&&mode=="area_selection"&&area_selection_mode=="on"){
						cameraX_to_temp=event.pageX;
						cameraY_to_temp=event.pageY;
						area_selection_mode="off";
						ready_to_area_commit="on";
						canvas_clear("midLeft_canvas_temp");
						draw("midLeft_canvas_temp",cameraX_from_temp,cameraY_from_temp,cameraX_to_temp,cameraY_to_temp,"red");
						console.log("to 		"+cameraX_to_temp+", "+cameraY_to_temp);
						setPost(camera_selection, cameraX_from_temp, cameraY_from_temp, cameraX_to_temp, cameraY_to_temp);
					}
				});
				$("#midLeft_div").mouseleave(function(){
					if(area_selection_mode=="on"){
						area_selection_mode="off";
						canvas_clear("midLeft_canvas_temp");
						console.log("out of range");
					}
				});//왼쪽카메라 범위지정 끝

				$("#midRight_div").mousedown(function(event){//오른쪽카메라 범위지정 시작
					if(camera_selection=="right"&&mode=="area_selection"){
						cameraX_from_temp=event.pageX;
						cameraY_from_temp=event.pageY;
						area_selection_mode="on";
						canvas_clear("midRight_canvas_temp");
						console.log("right_camera \nfrom 	"+cameraX_from_temp+", "+cameraY_from_temp);
					}
				});
				$("#midRight_div").mousemove(function(event){
					if(camera_selection=="right"&&mode=="area_selection"&&area_selection_mode=="on"){
						dragX=event.pageX;
						dragY=event.pageY;
						Drag("midRight_canvas_temp",cameraX_from_temp,cameraY_from_temp);
					}
				});
				$("#midRight_div").mouseup(function(event){
					if(camera_selection=="right"&&mode=="area_selection"&&area_selection_mode=="on"){
						cameraX_to_temp=event.pageX;
						cameraY_to_temp=event.pageY;
						area_selection_mode="off";
						ready_to_area_commit="on";
						draw("midRight_canvas_temp",cameraX_from_temp,cameraY_from_temp,cameraX_to_temp,cameraY_to_temp,"red");
						console.log("to 		"+cameraX_to_temp+", "+cameraY_to_temp);
						setPost(camera_selection, cameraX_from_temp, cameraY_from_temp, cameraX_to_temp, cameraY_to_temp);
					}
				});
				$("#midRight_div").mouseleave(function(event){
					if(area_selection_mode=="on"){
						area_selection_mode="off";
						canvas_clear("midRight_canvas_temp");
						console.log("out of range");
					}
				});//오른쪽카메라 범위지정 끝

				

				//버튼
				$("#mode_change_btn").on("click",function(){//모드 선택 버튼 시작
					if(mode=="camera_selection"){
						if(camera_selection=="none"){
							alert("카메라를 선택해야 합니다.");
						}else{
							mode="area_selection";
							$(this).text("camera_selection");
							console.log(mode);
						}
					}else if(mode=="area_selection"){
						mode="camera_selection";
						$(this).text("area_selection");
						console.log(mode);
						setPost("", 0, 0, 0, 0);
					}
				});//모드 선택 버튼 끝
				$("#coordinates_table_clear_btn").on("click",function(){//전체 삭제 버튼
					coordinates_table=[];
					coordinates_table_mirror=[];
					canvas_clear("midLeft_canvas");
					canvas_clear("midRight_canvas");

					$.ajax({
            			url: "{% url 'stereovision:target_table_all_clear' %}",
						success: function(){
							$("#table_check_btn").click();
							stopAutoTargetTableRefresh();
							color_index = 0;
						}				
					});
				});
				$("#camera_setting_btn").on("click",function(){
					if (confirm("카메라 설정 페이지로 이동합니다.")==true){//확인
						location.href="/vision/setting/";
 					}else{   //취소
 				    	return false;
 					}
				});
				$("#table_check_btn").on("click",function(){//테이블 확인 버튼
					$.ajax({
            			url: "{% url 'stereovision:target_table_check' %}",
						dataType: "json",
						success: function(result){
							var html = "";
							if (result.flag == "empty"){
								html += "<tr>";
								html += "<td colspan='3'> Empty Table<br>" + result.text + "</td>";
								html += "</tr>";
							}
							else{
								for (key in result){
									html += "<tr>";
									html += "<td style='background-color: " + color_table[key] + ";'>"  + " </td>";
									html += "<td>" + result[key].distance + "</td>";
									html += "<td>" + "<input type='checkbox' name='target_index' value='" + result[key].id + "'>" + "</td>";
									html += "</tr>";
									if(coordinates_table[key][0]=="midLeft_canvas"){
										coordinates_table[key][1] = Math.floor(result[key].left_x1*1600.0/resolution_w);
										coordinates_table[key][2] = Math.floor(result[key].left_y1*1200.0/resolution_h);
										coordinates_table[key][3] = Math.floor(result[key].left_x2*1600.0/resolution_w);
										coordinates_table[key][4] = Math.floor(result[key].left_y2*1200.0/resolution_h);
										coordinates_table_mirror[key][1] = Math.floor(result[key].right_x1*1600.0/resolution_w);						
										coordinates_table_mirror[key][2] = Math.floor(result[key].right_y1*1200.0/resolution_h);						
										coordinates_table_mirror[key][3] = Math.floor(result[key].right_x2*1600.0/resolution_w);						
										coordinates_table_mirror[key][4] = Math.floor(result[key].right_y2*1200.0/resolution_h);
									}else{
										coordinates_table[key][1] = Math.floor(result[key].right_x1*1600.0/resolution_w);								
										coordinates_table[key][2] = Math.floor(result[key].right_y1*1200.0/resolution_h);								
										coordinates_table[key][3] = Math.floor(result[key].right_x2*1600.0/resolution_w);								
										coordinates_table[key][4] = Math.floor(result[key].right_y2*1200.0/resolution_h);
										coordinates_table_mirror[key][1] = Math.floor(result[key].left_x1*1600.0/resolution_w);						
										coordinates_table_mirror[key][2] = Math.floor(result[key].left_y1*1200.0/resolution_h);						
										coordinates_table_mirror[key][3] = Math.floor(result[key].left_x2*1600.0/resolution_w);						
										coordinates_table_mirror[key][4] = Math.floor(result[key].left_y2*1200.0/resolution_h);
									}					
								}
								draw_all();
							}		

							$("#target_table_body").empty();
							$("#target_table_body").append(html);
						},					
					});
					console.log("test")
				});

				$("#area_commit_button").on("click",function(){
					if(ready_to_area_commit=="off"){
						alert("범위를 지정해야 합니다.");
					}else{

						var d = $(this).serialize();

        				$.ajax({
            				url: "{% url 'stereovision:border_selection' %}",
            				type: "POST",
            				data: d,
							success:function(result){
								coordinates_table.push([selected_canvas,cameraX_from_temp,cameraY_from_temp,cameraX_to_temp,cameraY_to_temp,color_table[color_index]]);
								if(selected_canvas=="midLeft_canvas"){
									coordinates_table_mirror.push(["midRight_canvas",1,1,1,1,color_table[color_index]]);
								}else{
									coordinates_table_mirror.push(["midLeft_canvas",1,1,1,1,color_table[color_index]]);
								}
								$("#calc_distance").attr("value", result.distance)
								$("#table_check_btn").click();
								color_index++;
								if(!table_refresh_flag){
									startAutoTargetTableRefresh();
								}
								if(color_index==10) color_index=0;
								canvas_clear("midLeft_canvas_temp");
								canvas_clear("midRight_canvas_temp");
								draw_all();
								ready_to_area_commit="off";
							}
        				});
					}
					setPost("", 0, 0, 0, 0);
					return false;
				});						

				//함수
				function lower(a, b){
					if(a<b) return a;
					else return b;
				}
				function absolute(a, b){
					var c=a-b;
					if(c>0) return c;
					else return c*(-1);
				}
				function canvas_clear(camera){
					var canvas = document.getElementById(camera);
					if (canvas.getContext){
						var ctx = canvas.getContext('2d');
						ctx.clearRect(0,0,1600,1200);
					}
				}
				function draw(camera, X_from, Y_from, X_to, Y_to, color){
					var canvas = document.getElementById(camera);
					if (canvas.getContext){
	     				var ctx = canvas.getContext('2d');
	     				ctx.lineWidth = 5;
	     				ctx.strokeStyle = color;
					    ctx.strokeRect(lower(X_from, X_to), lower(Y_from, Y_to), absolute(X_from, X_to), absolute(Y_from, Y_to));
					}
				}
				function draw_all(){
					canvas_clear("midLeft_canvas");
					canvas_clear("midRight_canvas");
					draw_preview();
					for(var i=0; i<coordinates_table.length; i++){
						draw(coordinates_table[i][0], coordinates_table[i][1] ,coordinates_table[i][2],coordinates_table[i][3],coordinates_table[i][4],coordinates_table[i][5]);
						draw(coordinates_table_mirror[i][0], coordinates_table_mirror[i][1] ,coordinates_table_mirror[i][2],coordinates_table_mirror[i][3],coordinates_table_mirror[i][4],coordinates_table_mirror[i][5]);
					}
					
				}
				function draw_preview(){
					canvas_clear("midLeft_canvas_preview");
					canvas_clear("midRight_canvas_preview");
					for(var i=0; i<coordinates_table.length; i++){
						draw(coordinates_table[i][0]+"_preview", coordinates_table[i][1]/2,coordinates_table[i][2]/2,coordinates_table[i][3]/2,coordinates_table[i][4]/2,coordinates_table[i][5]);
						draw(coordinates_table_mirror[i][0]+"_preview", coordinates_table_mirror[i][1]/2 ,coordinates_table_mirror[i][2]/2,coordinates_table_mirror[i][3]/2,coordinates_table_mirror[i][4]/2,coordinates_table_mirror[i][5]);
					}
				}
				function Drag(canvas, X_from, Y_from){
						canvas_clear(canvas);
						draw(canvas, X_from, Y_from, dragX, dragY,"red");
				}

				function setPost(pos, x1, y1, x2, y2){
					xx1 = Math.floor(x1 * resolution_w / 1600.0)
					yy1 = Math.floor(y1 * resolution_h / 1200.0)
					xx2 = Math.floor(x2 * resolution_w / 1600.0)
					yy2 = Math.floor(y2 * resolution_h / 1200.0)
					console.log(xx1,yy1,xx2,yy2)
					document.getElementById("camera_pos").setAttribute("value", pos);
					document.getElementById("x1").setAttribute("value", xx1);
					document.getElementById("y1").setAttribute("value", yy1);
					document.getElementById("x2").setAttribute("value", xx2);
					document.getElementById("y2").setAttribute("value", yy2);
				}

				function autoRefreshInterval(){
					document.getElementById("table_check_btn").click()
				}

				function startAutoTargetTableRefresh(){
					table_refresh = setInterval(autoRefreshInterval, table_refresh_time)
					table_refresh_flag = true;
				}

				function stopAutoTargetTableRefresh(){
					if(!table_refresh != null){
						clearInterval(table_refresh);
					}
					table_refresh_flag = false;
				}

			});
			
		</script>
	</head>
	<body>
		<div id="top_div" class="division">
			<div id="camera_setting_div">
				<button id="camera_setting_btn">camera setting</button> <br>
			</div>
			<div id="area_commit_div">
			<span>
				<form id="area_commit_button" name="area_commit_button">
				{% csrf_token %}
				<label for="camera_pos"> pos: </label>
				<input type="text", name="camera_pos", id="camera_pos", value=""><br>
				<label for="x1"> x1: </label>
				<input type="number", name="x1", id="x1", value="0"><br>
				<label for="y1"> y1: </label>
				<input type="number", name="y1", id="y1", value="0"><br>
				<label for="x2"> x2: </label>
				<input type="number", name="x2", id="x2", value="0"><br>
				<label for="y2"> y2: </label>
				<input type="number", name="y2", id="y2", value="0"><br>
				<input type="submit", value="area commit"><br>
				</form>
			</span>
			</div>
			<div id="mode_change_btn_div">
				<button id="mode_change_btn">area selection</button>
			</div>

		</div>
		<div id="left_div" class="division">
			
		</div>
		<div id="mid_div" class="division">
			<div id="midLeft_div" class="division">
				<img id="midLeft_image" src="{% url 'stereovision:video_left' %}">
				<canvas id="midLeft_canvas" width="1600" height="1200"></canvas>
				<canvas id="midLeft_canvas_temp" width="1600" height="1200"></canvas>
				<canvas id="midLeft_canvas_preview" width="800" height="600"></canvas>
			</div>
			<div id="midRight_div" class="division">
				<img id="midRight_image" src="{% url 'stereovision:video_right' %}">	
				<canvas id="midRight_canvas" width="1600" height="1200"></canvas>
				<canvas id="midRight_canvas_temp" width="1600" height="1200"></canvas>
				<canvas id="midRight_canvas_preview" width="800" height="600"></canvas>
			</div>
		</div>
		<div id="right_div" class="division">
			<button id="table_check_btn">table check</button>		
			<button id="coordinates_table_clear_btn">table clear</button><br>

			<table border="1" style="text-align: center;"id="target_table">
			<thead id="target_table_head">
			<tr> <th>id</th> <th>distance</th> <th>checkbox</th> </tr>
			</thead>
			<tbody id="target_table_body"></tbody>
			</table>

		</div>
		<input id="resolution_width" value="{{userdata_list.user_width}}"/>
		<input id="resolution_height" value="{{userdata_list.user_height}}"/>
	</body>
</html>