 {% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
		<mata charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
		<link rel="stylesheet" href="{% static 'stereovision/main.css' %}?after">

		<title>FOR TEST</title>
		<script>
			var camera_selection = "none";
			var mode = "camera_selection";
			var cameraX_from=0, cameraX_to=0;
			var cameraY_from=0, cameraY_to=0;
			var area_selection_mode="off";
			$(function(){
					//카메라 선택 모드 시작
					$("#midLeft_div").on("click",function(){
						//가운데 왼쪽 클릭
						if(camera_selection=="left"&&mode=="camera_selection"){
							camera_selection="none";
							$("#midLeft_div").css("width","800px").css("height","600px").css("position","absolute").css("left","0px").css("visibility","visible");
							$("#midRight_div").css("width","800px").css("height","600px").css("position","absolute").css("left","900px").css("visibility","visible");
							console.log(camera_selection);
						}else if(camera_selection=="none"&&mode=="camera_selection"){
							camera_selection="left";
							$("#midLeft_div").css("width","1200px").css("height","900px").css("position","absolute").css("left","0px");
							$("#midRight_div").css("visibility","hidden");
							console.log(camera_selection);
						}
					});
					$("#midRight_div").on("click",function(){
						//가운데 오른쪽 클릭
						if(camera_selection=="right"&&mode=="camera_selection"){
							camera_selection="none";
							$("#midLeft_div").css("width","800px").css("height","600px").css("position","absolute").css("left","0px").css("visibility","visible");
							$("#midRight_div").css("width","800px").css("height","600px").css("position","absolute").css("left","900px").css("visibility","visible");
							console.log(camera_selection);
						}else if(camera_selection=="none"&&mode=="camera_selection"){
							camera_selection="right";
							$("#midLeft_div").css("visibility","hidden");
							$("#midRight_div").css("width","1200px").css("height","900px").css("position","absolute").css("left","500px");
							console.log(camera_selection);
						}
					});
					//카메라 선택 모드 끝
				$("#mode_change_btn").on("click",function(){
					if(mode=="camera_selection"){
						mode="area_selection";
						$(this).text("camera_selection");
						console.log(mode);
					}else if(mode=="area_selection"){
						mode="camera_selection";
						$(this).text("area_selection");
						console.log(mode);
					}
				});
				$("#midLeft_div").mousedown(function(event){//왼쪽카메라 범위지정 시작
					if(camera_selection=="left"&&mode=="area_selection"){
						cameraX_from=event.pageX;
						cameraY_from=event.pageY-200;
						area_selection_mode="on";
						console.log("from "+cameraX_from+", "+cameraY_from);
					}
				});
				$("#midLeft_div").mouseup(function(event){
					if(camera_selection=="left"&&mode=="area_selection"){
						cameraX_to=event.pageX;
						cameraY_to=event.pageY-200;
						area_selection_mode="off";
						console.log("to "+cameraX_to+", "+cameraY_to);
					}
				});
				$("#midLeft_div").mouseleave(function(){
					if(area_selection_mode=="on"){
						area_selection_mode="off";
						console.log("out of range");
					}
				});
			});
		</script>
	</head>
	<body>
		<div id="top_div" class="division">
			top
			<button id="mode_change_btn">area selection</button>
		</div>
		<div id="left_div" class="division">
			
		</div>
		<div id="mid_div" class="division">
			mid
			<div id="midLeft_div" class="division">
				
			</div>
			<div id="midRight_div" class="division">
				
			</div>
		</div>
		<div id="right_div" class="division">
			right
		</div>
		<div id="bottom_div" class="division">
			bottom
		</div>
	</body>
</html>