{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
		<mata charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
		<link rel="stylesheet" href="{% static 'stereovision/setting.css' %}?after">	
	<title>setting page</title>
	</head>
	<body>
		해상도, 카메라 거리, 사용할 카메라,
		<form action="{% url 'stereovision:userdata_update' %}" method="POST">
			resolution
			distance(mm)
			left camera
			right camera
		<input type="submit" value="Setting Update">
		</form>
	</body>
</html>